@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #474747;
}
::-webkit-scrollbar-thumb {
  background-color: #707070;
}

:root {
  --bg-color: #89ff89;
  --h1-color: #049440;
  --bg-gradient: linear-gradient(5deg, #81fda68f, #50ffb67e);
  --contact-bg:linear-gradient(
    to right,
    #10ffa3,
    #4ae791,
    #00ffc8,
    #01ecd8
  );
}

button {
  cursor: pointer;
}

* {
  font-family: Poppins;
}
.hero-main {
  background: url("../public/img/hero.webp");
}

/* NavBar */

.button-three {
  --button-color: #ffffff;
  overflow: hidden;
  background: transparent;
  cursor: pointer;
  top: 10%;
  right: 20px;
}
.button-three .line {
  transition: 0.5s stroke-dasharray ease-in-out,
    0.5s stroke-dashoffset ease-in-out,
    0.5s rotate ease-in-out,
    0.5s translate ease-in-out;
  stroke-dasharray: 100 69 100 1000;
  transform-origin: center;
  translate: 0 10px;
}
.button-three[aria-expanded="true"] .line {
  stroke-dasharray: 100 162 100 1000;
  stroke-dashoffset: -166;
  translate: -30px -4px;
  rotate: 0.125turn;
}


.mobile-ham{
  position: absolute;
  inset: 0 0 -90vh 0;
  overflow: hidden;
  background: linear-gradient(
    144.39deg,
    rgba(1, 12, 36, 0.96),
  );
  backdrop-filter: blur(20px);
}

.mobile-ham[aria-expanded="true"]{
  animation: slide-in 0.6s ease-in-out forwards;
}

.mobile-ham[aria-expanded="false"]{
  animation: slide-out 0.6s ease-out forwards;
}


@keyframes slide-in {
  0%{
    transform: translateX(100vh);
  }
  100%{
    transform: translateX(0);
  }
}
@keyframes slide-out {
  100%{
    transform: translateX(100vh);
  }
}

.navbar {
  position: fixed;
  z-index: 10;
  width: 100%;
  z-index: 20;
}

.navbar .button span {
  background: linear-gradient(to right, #6bff98, #50ffb6dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar ul li {
  transition: color 160ms, font-weight 160ms;
}

.login-btn {
  border: 2px solid var(--bg-color);
  padding: 8px 30px;
  border-radius: 4px;
  color: var(--bg-color);
  transition: scale 0.3s ease-in-out;
  box-shadow: 0 2px 10px 2px #40ff1a25;
}
.login-btn:hover, .login-btn-active {
  scale: 1.02;
  border: 2px solid #d3fdd3;
  color: #cdfac9;
}


/* #Home Section*/

/* Hero  */
.hero-main {
  background-image: url("./assets/hero.webp");
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero-main::after {
  content: "";
  background: linear-gradient(5deg, #81fda68f, #50ffb67e);
  position: absolute;
  backdrop-filter: blur(2px);
  inset: 0;
}
.hero-main::before {
  position: absolute;
  content: "";
  background: #e6e6e6;
  top: 90vh;
  left: 0;
  right: 0;
  bottom: 0;
  height: 200px;
  transform: skewY(-4deg);
  z-index: 1;
}

.hero-main h1,
.hero-main p {
  position: relative;
  z-index: 2;
  text-shadow: 0 1px 2px #474747;
}

.hero-main button {
  font-size: 18px;
  color: rgb(37, 37, 37);
  font-weight: 600;
  background-color: rgb(255, 255, 255);
  padding: 14px 24px;
  border-radius: 60px;
  margin-top: 20px;
  box-shadow: 0 5px 10px 0 #ffffff49;
  transition: scale 200ms ease-in-out;
  position: relative;
  z-index: 2;
}

.hero-main button:hover {
  scale: 1.02;
}

@media all and (max-width: 768px) {
  .hero-main {
    background-position: center;
    height: 60vh;
  }
  .hero-main::before {
    top: 57vh;
  }
}

/* About */
.about-cont {
  padding-inline: 20px;
}

.about-cont h1,
.tour-cont > h1 {
  color: var(--h1-color);
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 30px;
  text-align: center;
  flex-grow: 1;
  width: 90%;
}

.about-content {
  max-width: 550px;
}

.about-content h2 {
  font-size: 13px;
  color: #646464;
  font-weight: 600;
  margin-block: 26px;
}
.about-content p {
  font-size: 11px;
  max-width: 500px;
  line-height: 25px;
  color: #707070;
}

.image-wrapper {
  position: relative;
  flex-grow: 1;
  max-width: 630px;
  height: 300px;
  margin-top: 30px;
}

.image-wrapper img {
  width: 200px;
  height: 150px;
  position: absolute;
  transition: z-index 400ms ease-in-out, scale 400ms ease-in-out;
  cursor: pointer;
  box-shadow: 0 0 10px 1px #36363588;
}

.image-1 {
  top: 120px;
  bottom: 0;
  left: 0;
  right: 160px;
  z-index: 3;
}
.image-2 {
  top: 0px;
  bottom: 100px;
  left: 70px;
  right: 0;
  z-index: 4;
}
.image-3 {
  top: 100px;
  bottom: 0;
  left: 150px;
  right: 0px;
  z-index: 5;
}
.image-wrapper img:hover {
  z-index: 6;
  scale: 1.15;
}

@media all and (min-width: 768px) {
  .image-wrapper {
    height: 520px;
  }
  .about-cont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    column-gap: 80px;
  }
  .image-wrapper img {
    width: 300px;
    position: absolute;
    transition: z-index 300ms ease-in-out, scale 300ms ease-in-out;
  }
  .about-cont h1,
  .tour-cont > h1,
  .feedback-cont > h1 {
    font-size: 50px;
  }
  .about-content h2 {
    font-size: 22px;
  }
  .about-content p {
    font-size: 16px;
  }
  .image-wrapper img {
    height: 220px;
    width: 300px;
  }

  .image-1 {
    top: 220px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
  }
  .image-2 {
    top: 0px;
    bottom: 100px;
    left: 140px;
    right: 0;
    z-index: 4;
  }
  .image-3 {
    top: 130px;
    bottom: 0;
    left: 220px;
    right: 0px;
    z-index: 5;
  }
  .image-wrapper img {
    width: 400px;
    height: 280px;
  }
}

/* Details  */

.details {
  position: relative;
  padding-block: 40px;
  min-height: 100vh;
}

.image-cont {
  background: url("./assets/nat-4.webp");
  position: absolute;

  inset: 0;
}
.details::before,
.details::after {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  background-color: #e6e6e6;
  transform: skewY(-4deg);
}

.details::before {
  top: 92vh;
  bottom: -10vh;
}
.details::after {
  top: -10vh;
  bottom: 92vh;
}

.inline-cont {
  position: absolute;
  inset: 0;
  background: linear-gradient(5deg, #81fda68f, #50ffb67e);
  backdrop-filter: blur(2px);
  z-index: 1;
}
.details ul {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  padding-inline: 30px;
}

.details ul li img {
  mix-blend-mode: multiply;
  border-bottom: 2px solid black;
  padding-bottom: 8px;
}
.details ul li {
  box-shadow: 0 0 10px 5px #2ce2b43d;
  cursor: pointer;
  transition: scale 200ms, box-shadow 200ms ease-in-out;
  text-align: center;
  max-width: 300px;
}
.details ul li:hover {
  scale: 1.12;
  box-shadow: 0 0 10px 5px #17ff9e34;
}

@media screen and (max-width: 768px) {
  .details {
    height: 140vh;
  }
  .details::before {
    top: 131vh;
    bottom: -10vh;
  }
  .details::after {
    top: -10vh;
    bottom: 131vh;
  }
}

/* Feedback  */

.feedback-cont {
  width: 100%;
  position: relative;
  z-index: 4;
}
.feedback-cont > img {
  width: 100%;
  height: 1000px;
}
@media (width<768px) {
  .feedback-cont > img {
    height: 80vh;
  }
}

.feedback {
  position: absolute;
  z-index: 4;
  inset: 0;
  background: #fff6f6d0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  backdrop-filter: blur(1px);
}

.feedback > h1 {
  font-weight: 600;
  text-align: center;
  color: var(--h1-color);
  text-shadow: 0 1px 1px #5c5c5c3b;
}

.feedback-card {
  box-shadow: 0 0 10px 6px #c9c9c9;
}

.contact-section {
  height: 100vh;
  background-image: linear-gradient(
    to right,
    #10ffa3,
    #4ae791,
    #00ffc8,
    #01ecd8
  );
  padding: 65px 100px;
  background-position: left;
  background-size: 400%;
  position: relative;
  animation: background-animation 10s infinite alternate;
}

@keyframes background-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
.contact-section .image-card {
  background: url("./assets/nat-10.webp");
  height: min(600px, 80vh);
  background-size: cover;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.contact-section .image-card::after {
  content: "";
  background: rgba(255, 255, 255, 0.712);
  top: 0;
  left: -10%;
  bottom: 0;
  right: 47%;
  transform: skewX(-15deg);
  position: absolute;
}
.contact-section .image-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10%;
  bottom: 0;
  right: 47%;
  transform: skewX(-15deg);
  backdrop-filter: blur(4px);
}
.contact-form input {
  width: min(100%, 370px);
}

@media (width<768px) {
  .contact-section {
    padding: 50px 40px;
    height: 74vh;
  }
  input {
    width: 90%;
  }

  .contact-section .image-card {
    height: 500px;
  }
  .contact-section .image-card::after,
  .contact-section .image-card::before {
    inset: 0;
    transform: skewX(0);
  }
}

.submit-btn {
  transition: 200ms background-color ease-in-out;
}
.submit-btn:hover {
  background-color: #888888;
}

footer {
  animation: opacity-animation 100ms ease-in-out 800ms forwards;
}

@keyframes opacity-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tour-card {
  width: min(340px, 90%);
  overflow: hidden;
  box-shadow: 0 0 20px 10px #c2c2c26c;
}

.tour-card > * {
  position: relative;
  z-index: 1;
}
.tour-card-image-section h1 {
  text-transform: uppercase;
  right: 20px;
  font-weight: 300;
  padding: 2px 20px;
  text-align: right;
  z-index: 2;
  font-size: 30px;
  color: white;
  position: absolute;
  line-height: 40px;
  background: linear-gradient(to bottom, #01ecb9b4, #3db870);
  bottom: 0;
}
.tour-card-image-section :nth-child(2) {
  bottom: 40px;
  right: 10px;
  width: min(max-content, 250px);
  text-align: center;
}

.tour-card-image-section div::before {
  background-color: var(--bg-color);
  opacity: 0.6;
  position: absolute;
  content: "";
  inset: 0;
}

.tour-card-image-section div::after {
  background: white;
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 90%;
  height: 40px;
  transform: skewY(-4deg);
  content: "";
}
.icons-cont img {
  filter: brightness(0.7);
}

.all-tour {
  opacity: 0;
  animation: fade-in 500ms ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* TOUR DETAIL  */
.tour-hero {
  position: relative;
  overflow: hidden;
}

.tour-hero::before {
  position: absolute;
  content: "";
  inset: 0;
  background: var(--bg-gradient);
}

.tour-hero > h1 {
  text-transform: uppercase;
  font-weight: 500;
  padding: 3px 20px;
  z-index: 2;
  color: white;
  line-height: 40px;
  background: linear-gradient(to bottom, #01ecb9b4, #3db870);
  width: max-content;
  letter-spacing: 3px;
  line-height: 60px;
}

.tour-hero::after {
  content: "";
  position: absolute;
  transform: skewY(-4deg);
  background: #e6e6e6;
  inset: 0;
  top: 93%;
  height: 200px;
}

.detail-heading {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 4px;
  background: linear-gradient(to right, #07ad4d, #049440);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
.overview{
  font-size: 45px;
}

@media (width<768px) {
  .inter-section::after {
    top: -3%;
  }
  .detail-heading {
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
  }
  .overview{
    font-size: 34px;
  }
}

.map{
  border: 4px solid white;
  border-radius: 6px;
}

.start-point{
  height: 20px;
  width: 18px;
  order: 2;
  transition: 300ms scale ease-in-out;
}
.tooltip{
  opacity: 0;
  background: #3f3f3f;
  padding: 3px 6px;
  border-radius: 2px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 11px;
  width: max-content;
  order: 1;
  align-self: flex-end;

}
.marker{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
 .start-point:hover + .tooltip {
  opacity: 1;
}
.start-point:hover{
  scale:1.2;
  cursor: pointer;
}

.popup-cont{
  margin: 0;
  padding: 1px;
  height: 20px;
}
.popup-cont h3{
  font-weight: 600;
  font-size: 10px;
  margin: 0;
  padding: 0;
  line-height: 10px;
}
.popup-cont p{
  text-align: center;
  font-size: 10px;
}


.login-form input{
  border-width: 2px;
}
.login-form> button{
  background-color: #0bc77f;
}
.login-form >button:hover{
  background-color: #089b62d2;
}

.modal[open]{
  height: min(460px, 70%);
  width: min(400px, 90%);
  top: 100px;
  z-index: 20;
  border: 2px solid #383838;
  overflow-y: auto;
  animation: fade-in 400ms forwards;
  --opacity:1
}


.modal[open]::backdrop{
  background: #030303;
  animation: fade-in-backdrop 500ms forwards;
  --opacity:0.6
}

.modal[data-close]{
  animation: fade-out 300ms forwards;
}
.modal[data-close]::backdrop{
  animation: fade-out-backdrop 300ms forwards;
  --opacity:0.6
}

@keyframes fade-out {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: translateY(-100px);
  }
}

@keyframes fade-out-backdrop {
  0%{
    opacity: var(--opacity);
  }
  100%{
    opacity: 0;
  }
}

@keyframes fade-in {
  0%{
    opacity: 0;
    scale:0
  }
  100%{
    scale:1;
    opacity: var(--opacity)
  }
  
}
@keyframes fade-in-backdrop {
  0%{
    opacity: 0;
  }
  100%{
    opacity: var(--opacity);
  }
}